# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Environment variables
.env
.env.local
.env.*.local

# Backups
backups/

# OS
.DS_Store

# Build outputs
dist/
build/

# Logs
logs
*.log
logs/
*.out
*.pid
*.seed
*.pid.lock

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Coverage & testing
coverage/
.nyc_output/

# Optional
tmp/
temp/

~$*.xlsx
~$*.xls
~$*.docx

# crawler outputs
**/crawler/savoury/data/

#test import data
backend/Data/validateRecipes.js
backend/Data/validation-errors.json